## C/C++ Compilers and Related Packages
clang_osx-64
clangxx_osx-64
cmake
cython
openmp
pybind11
pyre
gsl
coreutils
cudatoolkit
## Packages for Tests
gmock
gtest
pytest
## Common Python Packages
h5py
hdf5
numpy
scipy
fftw
gawk
pandas
eigen
matplotlib
sphinx
#wget
## Yaml Packages
pyyaml
ruamel.yaml
yamale
#GDAl Package
libgdal
gdal
shapely










